---
import "../styles/global.css";

import Header from "../components/Header.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Offres</title>
    </head>
    <body>
        <Header />
        <h1>You offer me : 10000 beers, i offer you : 10000 empty beers</h1>
    </body>
</html>;

